.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scroll_grid {
  height: 800px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.card {
  width: 24%;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .card {
    width: 33%;
  }
}

.title {
  text-align: center;
  font-size: 72px;
}

.product_image {
  width: 100%;
}

.loading {
  font-size: 36px;
  color: white;
  font-weight: bolder;
  text-align: center;
  background-color: red;
}

